/* Imports
----------------------------*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100);

/* Global Styles
----------------------------*/
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.jumbotron-fluid {
    background: #EDF2F4;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
h2 {
    margin-top: 0;
}
.title {
    font-weight: 700;
}
h3 {
    margin: 0;
}
p {
    font-family: inherit;
    font-weight: 100;
}
li {
    font-family: inherit;
    font-weight: 100;
}
a {
    color: #c18934;
}
a:hover {
    text-decoration: none;
}
.uppercase {
    text-transform: uppercase;
}

/* Header and Footer
----------------------------*/
header, footer {
    background: #2B2D42;
}
/* Header */
header {
    font-size: 1.25rem;
}
header .profile-img {
    width: 300px;
    border-radius: 10%;
}
header .container {
    padding-bottom: 25px;
}
header h1, header h2, header p {
    color: #EDF2F4;
    margin: 0;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    color: #8D99AE;
}
.contact-info {
    padding: 5px;
    display: inline-block;
}
.contact-info a {
    font-size: 3em;
    padding: 5px;
}
footer h2 {
    color: #c18934;
}

/* Navigation
----------------------------*/
header .navbar {
    background: #2B2D42;
    margin-bottom: 0;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
header .navbar-default {
    border: none;
    border-radius: 0;
    padding: 10px 0;
}
header .navbar-brand {
    font-family: 'Roboto', sans-serif;
    color: #c18934;
    font-size: 1.3em;
    font-weight: 300;
}
header .auth {
    text-align: right;
    border-color: rgba(193, 137, 52, .75);
}
header .nav-link {
    color: #c18934;
}
header .navbar-toggler {
    color: rgba(193, 137, 52, .85);
    border-color: rgba(193, 137, 52, .75);
}
header .btn-primary {
    background: transparent;
    color: #c18934;
    border-color: #c18934;
    width: 100px;
    font-size: 1.25rem;
    font-family: inherit;
    font-weight: 100;
}
/* Skill Summary
----------------------------*/
.skill-summary {
    border-bottom: 4px solid #90aab6;
    padding: 20px 15px;
}

/* Work Experience
----------------------------*/
.work h2 {
    padding: 20px 15px;
}
h3 ~ p {
    margin: 0;
}
.job-description {
    margin-bottom: 25px;
}
.job-description p:first-of-type {
    margin-top: 0;
}

/* Professional Training
----------------------------*/
.prof-training {
    border-bottom: 4px solid #90aab6;
    padding: 20px 15px;
}
.prof-training p {
    margin: 0;
}

/* Resume Projects
----------------------------*/
.resume-projects {
    border-bottom: 4px solid #90aab6;
    padding: 20px 15px;
}
.resume-projects p {
    margin: 0;
}

/* Education
----------------------------*/
.education {
    border-bottom: 4px solid #90aab6;
    padding: 20px 15px;
}
.education p {
    margin: 0;
}
p + h3 {
    margin-top: 30px;
}

/* Conferences
----------------------------*/
.conferences {
    border-top: 4px solid #90aab6;
    padding: 20px 15px;
}

/* About Me
----------------------------*/
.aboutme {
    padding: 20px 15px;
    border-bottom: 4px solid #90aab6;
}

/* Projects
----------------------------*/
.projects {
    padding-top: 20px;
}

/* Changelog
----------------------------*/
.changelog {
    padding-top: 20px;
}

/* Forms
----------------------------*/
#login, #register, #lostpassword-form, #resetpassword, #verify {
    padding-top: 20px;
}
.auth-btn {
    padding-bottom: 40px!important;
}
.btn-dark {
    color: #c18934;
    background: #2B2D42;
}
.auth-header {
    text-align: center;
}
.auth-header h1 {
    padding-top: 40px;
}
.form-group {
    margin: 0;
    padding-bottom: 7px;
}
.required {
    color: #e05868;
    font-weight: 400;
    font-size: 1.3rem;
}
.invalid {
    border-color: #e05868;
    border-bottom-width: 5px;
    background-image: url('./../images/delete-2-24.gif');
    background-repeat: no-repeat;
    background-position: 97% 50%;
}
.invalid:focus {
    background-color: #ffd1d6;
    border-color: #f3102f;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(243, 16, 46, 0.25);
}
.valid {
    border-color: #347526;
    border-bottom-width: 5px;
    background-image: url('./../images/checkmark-24.gif');
    background-repeat: no-repeat;
    background-position: 97% 50%;
}
.valid:focus {
    background-color: #adeca0;
    border-color: #448f33;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(42, 104, 29, 0.25);
}
#usernamehelp {
    color: #dc3545;
    display: none;
}
#emailhelp {
    color: #dc3545;
    display: none;
}
#passwordhelp {
    color: #dc3545;
    display: none;
}
#confirmhelp {
    color: #dc3545;
    display: none;
}
#profile-emailhelp {
    color: #dc3545;
    display: none;
}
#profile-passwordhelp {
    color: #dc3545;
    display: none;
}
#reset-passwordhelp {
    color: #dc3545;
    display: none;
}
/* Alerts
----------------------------*/
.alert {
    margin-bottom: 0;
}
.no-margin {
    margin: 0;
}

/* Titles
----------------------------*/
.profile {
    padding-top: 20px;
}
.resend {
    padding-top: 20px;
}
.reset {
    padding-top: 20px;
}

/* Media Queries
----------------------------*/
@media (max-width: 767px) {
    .projects {
        border-bottom: 4px solid #90aab6;
    }
    header .navbar-nav {
        text-align: right;
    }
    header .p-2 {
        padding-right: 0!important;
    }
    header h1, header h2, header p {
        text-align: center;
    }
    .contact-info a {
        font-size: 2.25em;
    }
}
@media (max-width: 991px) {
    .profile {
        text-align: center;
    }
    .update-aboutme {
        border-bottom: 4px solid #90aab6;
    }
    .update-email {
        border-bottom: 4px solid #90aab6;
    }
}