<!DOCTYPE html>
<html lang="en">
    <head><% include partials/template/head.ejs %></head>
    
    <body id="<%= pageID %>">
        <% include partials/template/header.ejs %>

        <div class="jumbotron-fluid">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 col-md-8">
                        <h1 class="title auth-header">Lost Password</h1>
                        <p>Enter your email address in the field below. You will receive an email in order to validate your request and provide a link to reset your password. If you had not verified your account, you will not be able to utilize this feature. Please contact the site owner, <a href="mailto:admin@bradleyburrows.com">Bradley Burrows</a>, for assistance.</p>
                    </div>
                </div>
                <% if(locals.authSuccess.length > 0) { %>
                    <div class="row justify-content-center"><div class="col-10 col-md-8 alert alert-success" role="role"><%= authSuccess %></div></div>
                <% } %>
                <% if(locals.authFailure.length > 0) { %>
                    <div class="row justify-content-center"><div class="col-10 col-md-8 alert alert-danger" role="role"><%= authFailure %></div></div>
                <% } %>
                <form id="lostpassword-form" name="lostpassword" method="post">
                    <input type="hidden" name="_csrf" value=<%= _csrf %>>
                    <div class="form-row justify-content-center">
                        <div class="form-group  col-6 col-lg-5 col-xl-4">
                            <label for="email">Email <span class="required">*</span></label>
                            <input name="email" type="email" class="form-control" placeholder="name@example.com" required>
                        </div>
                    </div>
                    <div class="form-row lostpassword justify-content-center">
                        <div class="form-group  col-6 col-lg-5 col-xl-4">
                            <div class="auth-btn"><input class="btn btn-dark" type="submit" value="Request Password Reset"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <% include partials/template/footer.ejs %>
        <% include partials/template/jsdefaults.ejs %>
    </body>
</html>